*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

bin/
build/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

local.properties

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.zip
*.tar.gz
*.rar

.gradle


