<html>
    <head>
    </head>
    <title>
        Главная страница
    </title>

    <h2>POST-запрос на добавление:
    curl http://localhost:8080 -d name=new_name; -d lastname=new_lastname -d age=40 -d school=4</h2>

    <h2>?id=... - подробнее о пользователе</h2>

<div>
    {{#name}}
        {{name}}
    {{/name}}

</div>

    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
    <div>
        Пользователи:
        {{#users}}
            <div>{{.}}</div>
        {{/users}}
    </div>

<br>
    <div>
        Школы:
        <div>
            {{#schools}}
                <div>{{.}}</div>
            {{/schools}}
        </div>
    </div>







</body>
</html>