
<html lang="ru">
    <head>
        <title></title></head>
    <title>
        Главная страница
    </title>

<div>
    {{#name}}
        {{name}}
    {{/name}}

</div>


    <div>
        Пользователи:
        {{#users}}
            <div>{{.}}</div>
        {{/users}}
    </div>

<br>
    <div>
        Школы:
        <div>
            {{#schools}}
                <div>{{.}}</div>
            {{/schools}}
        </div>
    </div>
</body>
</html>