<html lang="ru">
<head><title>Добавить школу</title></head>
<body>
    <form method="post" title="Добавить школу">
    <label><input type="text" name="number" placeholder="Номер школы"></label><br>
    <label><input type="text" name="address" placeholder="Адрес"></label><br>
    <button name="new_school" type="submit">Добавить</button>
</form>
</body>
</html>